.Message{
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    direction: rtl;
    justify-content: space-between;
}
.rep&detail{
    display: flex;
    flex-direction: row;
}