.Message{
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    direction: rtl;
    justify-content: space-between;
    width: 80%;
    border: 1px solid black;

}
.repAndDetail{
    display: flex;
    flex-direction: row;
}
.avatar img{
    width: 100%;
    
    border-radius: 50%;
}