.Message{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    direction: rtl;
    justify-content: space-between;
    width: 80%;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;

}

.repAndDetail{
    display: flex;
    flex-direction: row-reverse;
    
}
.avatar img{
    width: 100%;
    border-radius: 50%;
}
.avatar{
    width: 80px;
    height: 80px;
    background-color: rgb(145, 20, 97);
    margin-left: 10px;
}
.avatarAndTitle{
    display: flex;
    flex-direction: row;
}
.green , .red , .blue{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.status{
    display: flex;
    flex-direction: row;
}
.senderAndStatus{
    display: flex;
    flex-direction: row;
}
.sender{
    font-weight: 800;
}
.status{
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}
.status div{
    margin-left: 10px;
}
svg{
    margin-left: 10px;
    margin-right: 10px;
}
.date{
    color: gray;
    font-weight: 200;
    display: flex;
    flex-direction: row-reverse;
    font-size: medium;
}