.Message{
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    direction: rtl;
    justify-content: space-between;
    width: 80%;
}
.repAndDetail{
    display: flex;
    flex-direction: row;
}