.textArea{
    width: 70%;
    height: 50vh;
    text-align: right;
}
.containTextArea{
    width: 100%;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 0;
}