.textArea{
    width: 70%;
    height: 50vh;
    text-align: right;
    font-size: larger;
}
.containTextArea{
    width: 100%;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 0;
    flex-direction: column;
}
.send{
    background-color: blue;
    padding: 10px 50px;
    margin-top: 100px;
}